.button-primary {
  &:hover {
    @apply bg-opacity-40;
  }
  box-shadow:
    0px 0px 16px 0px rgba(115, 37, 243, 0.5) inset,
    0px 0px 10px 0px rgba(115, 37, 243, 0.4) inset,
    0px -8px 10px 0px rgba(56, 199, 151, 0.1) inset;
  border-top: 1px solid #b287f7;
  border-bottom: 1px solid #7325f3;
  background-image: linear-gradient(#b287f7, #7325f3), linear-gradient(#b287f7, #7325f3);
  background-size: 1px 100%;
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  @apply bg-[#7325F3] bg-opacity-20;
}
.button-red {
  &:hover {
    @apply bg-opacity-40;
  }
  box-shadow:
    0px 0px 16px 0px rgba(224, 35, 35, 0.5) inset,
    0px 0px 10px 0px rgba(224, 35, 35, 0.4) inset;
  border-top: 1px solid #ef6d6d;
  border-bottom: 1px solid #e02323;
  background-image: linear-gradient(#ef6d6d, #e02323), linear-gradient(#ef6d6d, #e02323);
  background-size: 1px 100%;
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  @apply bg-[#E02323] bg-opacity-20;
}

.button-blue {
  &:hover {
    @apply bg-opacity-40;
  }
  box-shadow:
    0px 0px 16px 0px rgba(35, 88, 224, 0.5) inset,
    0px 0px 10px 0px rgba(35, 88, 224, 0.4) inset;

  border-top: 1px solid #98b4f9;
  border-bottom: 1px solid #2358e0;
  background-image: linear-gradient(#98b4f9, #2358e0), linear-gradient(#98b4f9, #2358e0);
  background-size: 1px 100%;
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  @apply bg-[#2358E0] bg-opacity-20;
}

.button-tertiary {
  &:hover {
    @apply bg-opacity-40;
  }
  box-shadow:
    0px 0px 16px 0px rgba(53, 188, 143, 0.5) inset,
    0px 0px 10px 0px rgba(53, 188, 143, 0.4) inset;
  border-top: 1px solid #7bc8ae;
  border-bottom: 1px solid #35bc8f;
  background-image: linear-gradient(#7bc8ae, #35bc8f), linear-gradient(#7bc8ae, #35bc8f);
  background-size: 1px 100%;
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  @apply bg-[#35BC8F] bg-opacity-20;
}

.button-neutral {
  &:hover {
    @apply bg-opacity-80;
  }
  box-shadow:
    0px 0px 16px 0px rgba(45, 45, 81, 0.5) inset,
    0px 0px 10px 0px rgba(52, 52, 69, 0.3) inset;
  border-top: 1px solid #3d3d55;
  border-bottom: 1px solid #1c1c31;
  background-image: linear-gradient(#3d3d55, #1c1c31), linear-gradient(#3d3d55, #1c1c31);
  background-size: 1px 100%;
  background-position:
    0 0,
    100% 0;
  background-repeat: no-repeat;
  @apply bg-[#1C1C31] bg-opacity-30;
}

.button-disabled {
  @extend .button-neutral;
  &:hover {
    @apply bg-opacity-30;
  }
  @apply text-body opacity-60;
}
