:root {
  --color-header: #ffffff;
  --color-body: #9C9CB8;
  --color-body-2: #5C5C87;
  --color-border: #1B1B31;
  --color-surface-lightest: #131325;
  --color-surface-lighter: #10101E;
  --color-surface-light: #0C0C18;
  --color-surface-bg: #090911;
  --color-surface-dark: #07070E;
  --color-surface-darkest: #000000;
  --color-primary: #7325F3;
  --color-secondary: #2358E0;
  --color-tertiary: #35BC8F;
  .light {

  }
}
