:root {
  --color-header: #ffffff;
  --color-body: #9c9cb8;
  --color-body-2: #5c5c87;
  --color-border: #1b1b31;
  --color-surface-lightest: #131325;
  --color-surface-lighter: #10101e;
  --color-surface-light: #0c0c18;
  --color-surface-bg: #090911;
  --color-surface-dark: #07070e;
  --color-surface-darkest: #000000;
  --color-primary: #7325f3;
  --color-secondary: #2358e0;
  --color-tertiary: rgb(53, 188, 143);
}
