// Transition Cubic Bezier Default
@mixin t1($time: 0.2s, $el: all, $ease: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition: $el $time $ease;
}
.t1 {
  @include t1;
}

// Font smoothing
@mixin fontSmooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
